<% provide(:title, "About") %>
<h1>About us</h1>
<p>
  We <a href="http://www.railstutorial.org/"><em>provide </em></a> the finest
  <a href="http://www.railstutorial.org/book">water</a> in the city.
  <a href="http://screencasts.railstutorial.org/">With no of internet connections</a>
  greater than water connections these days.. We are proud to launch the first ever
  <a href="http://rubyonrails.org/">online water sale</a>.
  Without compromising with quality we provide the best access to water facilities in your locality... so stop reading
  and <a href="http://rubyonrails.org/">Signup</a>
</p>