<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p style="text-align:center">
  Please feel free to conatct us for any
  <a href="http://www.google.com">query</a>. Our nos +91454545545, +89454545545
</p>